/* Основное */

/* Шрифт */
@font-face {
    font-family: "NeoTech";
 src: url(../fonts/NeoTech-Bold.woff2) format(woff2); 
 font-weight: 100;
 font-style: normal;
 font-display: swap;
 }
 
 /* Шрифт */
 
 html {
    overflow-x: hidden;    /* Отключение Scrollbar X */
 }
 
 body::-webkit-scrollbar {
    width: 16px;               /* Настройка ширины Scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* Управление цветом Scrollbar background */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 68);    /* Цвет Scrollbar */
    border-radius: 20px;       /* Управление радиусом границы Scrollbar */
    border: 3px solid rgb(0, 0, 0);  /* Создание границы ScrollBar */
  }
 
 body {
    user-select: none;
    font-family: monospace; /* Шрифт по умолчанию */
    color:rgb(255, 255, 255); /* Цвет текста по умолчанию*/
    background-color: rgb(0, 0, 0);  /* Цвет Background */
    background-image: url(../Background/Background.tablet.jpg);
    background-size: 100%; /* Размер Background Image */

    background-repeat: no-repeat; /* Повтор Background Image */ 
 }
 
 
 
 /* Основное */
 
 /* Title */
 
 h1 {
    position: relative;
    bottom:1vw;
    left:1vw;
    font-size: 2.7vw;
    display: inline-block;
    animation-name: SpanH1Animation;
    animation-duration: 2s;
    transition-duration: 0.4s;
    user-select: none;
    z-index: 99;
    font-family: NeoTech;
 
 }
 
 h1:hover {
   color: rgb(255, 0, 0);
 }
 
 .H1Span {
   animation-name: SpanH1AnimationColor;
   animation-duration: 4s;
   animation-delay: 3s;
   animation-iteration-count: infinite;
 }
 
 
 @keyframes SpanH1Animation {
    0% {left: -35vw;}
    100% {right: -35vw;}
 }
 
 @keyframes SpanH1AnimationColor {
    0% {color: rgb(0, 0, 0);}
    25% {color: rgb(255, 0, 0);}
    45% {color: rgb(0, 255, 55);}
    65% {color: rgb(229, 255, 0);}
    85% {color: rgb(25, 0, 255);}
    100% {color: rgb(0, 0, 0);}
 }
 
 
 /* Title */
 
 /* NAV */
 
 .ListContainer {
    position: relative;
    right: 10.6vw;
    bottom:6.4vw;
    margin: auto;
   width: 50%;
   padding:1vw;
   text-align: center;
   font-size: 2.3vw;
   z-index: 99;
   user-select: none;
   font-family:NeoTech;
   opacity: 0.0;
   animation-name: ListAnimation;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-delay: 1s;
   
 }
 
 .ListContainer a {
    margin-left: 1.5vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    user-select: none;
 }
 
 .ListContainer a:hover {
    font-size: 2vw;
    color: rgb(255, 0, 0);
 }
 
 @keyframes ListAnimation {
    0% {opacity: 0.0; bottom: 20vw;}
    100% {opacity: 1.0; }
 }
 
 /* NAV */
 
    /* Page 1 */
 
 .LinksButton {
    position: relative;
    left: 62vw;
    bottom:11.8vw;
    margin: auto;
   width: 50%;
   padding:1vw;
   text-align: center;
   font-size: 1.6vw;
   z-index: 99;
   user-select: none;
   font-family:monospace;
   background-color: rgba(0, 0, 0, 0.616);
   border-radius: 3vw 1vw;
   color: white;
   text-decoration: none;
   padding-left: 1.6vw;
   visibility: visible;
   padding-right: 1.6vw;
   transition-duration: 0.5s;
   font-size: 1.6vw;
   border: 1px solid rgba(255, 255, 255, 0.322);
 }
 
 .LinkContainer {
   animation-name: LinksButtonAnimation2;
   animation-duration: 2s;
   animation-delay: 2.5s;
  animation-fill-mode: forwards;
   opacity: 0.0;
   display: inline;
}

@keyframes LinksButtonAnimation2 {
   0% {opacity: 0.0;}
   100% {opacity: 1.0;}
}

 .LinksButton:hover {
    background-color: rgb(0, 0, 0);
    animation-name: LinksButtonAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }
 @keyframes LinksButtonAnimation {
    0% {color: white; border-color: white;}
    10% {color: red; border-color: red;}
    20% {color: blue; border-color:blue;}
    30% {color: rgb(255, 251, 0); border-color: yellow;}
    40% {color: rgb(30, 255, 0); border-color: rgb(30, 255, 0);}
    50% {color: rgb(255, 166, 0); border-color:rgb(255, 166, 0);}
    60% {color: rgb(255, 0, 234); border-color:rgb(255, 0, 234);}
    70% {color: rgb(0, 255, 242); border-color:rgb(0, 255, 242);}
    80% {color: rgb(157, 255, 0); border-color:rgb(157, 255, 0);}
    90% {color: rgb(255, 0, 85); border-color:rgb(255, 0, 85);}
    100% {color: white; border-color: white;}
 }
 
  /* Icons Links*/
 
 .Youtube, .GitHub {
    width:3.7vw;
    user-select: none;
 }
 .GitHub {
    position: relative;
    left: 63vw;
    bottom: 10.3vw;   
    opacity: 0.0;
    animation-name: IconsAnimation;
    animation-duration: 2s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    visibility:visible;
    padding: 0.3vw;
    transition-duration: 0.4s;
    border-radius: 0.6vw;
 }
 
 
 .Youtube {
    position: relative;
    left: 64vw;
    bottom: 10.3vw;
    visibility:visible;
    opacity: 0.0;
    animation-name: IconsAnimation;
    animation-duration: 2s;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
    padding: 0.3vw;
    transition-duration: 0.4s;
    border-radius: 0.6vw;
 }
 
 .Twitter {
    position: relative;
    left: 66vw;
    bottom: 10.5vw;
    width:3.3vw;
    user-select: none;
    visibility:visible;
    opacity: 0.0;
    animation-name: IconsAnimation;
    animation-duration: 2s;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
    padding: 0.3vw;
    transition-duration: 0.4s;
    border-radius: 0.6vw;
 }

 .Youtube:hover {
   background-color: white;
   border-radius: 1.5vw;
}

.GitHub:hover {
   background-color: white;
border-radius: 1.5vw;
}

.Twitter:hover {
background-color: white;
border-radius: 1.5vw;
}
 
 @keyframes IconsAnimation {
    0% {opacity:0.0;}
    100% {opacity:1.0;}
 }
 .IconHref {
    visibility: hidden;
 }
 
 
  /* Icons Links */
 
  h2 {
 position: relative;
 left: 2vw;
 top:20vw;
    font-family: monospace;
    font-size: 2.6vw;
    opacity: 0.0;
    animation-name: TextMoveAnimation;
    animation-duration: 2s;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
    visibility: visible;
 display: inline-block;
  }
  p {
    position: relative;
 left: 2vw;
 top:18vw;
    font-family: monospace;
    font-size: 2.6vw;
    opacity: 0.0;
    animation-name: TextMoveAnimation;
    animation-duration: 3s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    visibility: visible;
    display: inline-block;
  }
 
  @keyframes TextMoveAnimation {
    0% {left:20vw;opacity: 0.0;}
    100% {left:2vw;opacity: 1.0;}
  }
 
  .Workspace {
    position: relative;
    left: 2vw;
    top:18.6vw;
    margin: auto;
   width: 50%;
   padding:1vw;
   text-align: center;
   font-size: 2.3vw;
   z-index: 99;
   user-select: none;
   font-family:monospace;
   background-color: rgba(0, 0, 0, 0.616);
   border-radius: 1vw;
   color: white;
   text-decoration: none;
   padding-left: 6vw;
   padding-right: 6vw;
   transition-duration: 0.5s;
   font-size: 2.5vw;
   border: 1px solid rgba(255, 255, 255, 0.322);
   opacity: 0.0;
    animation-name: TextMoveAnimation;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
 
  .Workspace:hover {
    background-color: white;
    color: black;
    border-radius: 3vw;
  }

.MobileHtml {margin-bottom: 33vw;
   display: none;
   visibility: hidden;}
    /* Page 1 */